name: CU-PWFA
channels:
- conda-forge
- defaults
dependencies:
- babel=2.3.4=py36_0
- bleach=1.5.0=py36_0
- bzip2=1.0.6=1
- ca-certificates=2017.7.27.1=0
- chardet=2.3.0=py36_0
- cycler=0.10.0=py36_0
- cython=0.26=py36_0
- dbus=1.10.10=0
- decorator=4.0.11=py36_0
- docutils=0.13.1=py36_0
- entrypoints=0.2.2=py36_1
- expat=2.1.0=0
- ffmpeg=3.2.4=1
- fftw=3.3.6=3
- fontconfig=2.12.1=1
- freetype=2.6.3=1
- gmp=6.1.2=0
- gst-plugins-base=1.8.0=0
- gstreamer=1.8.0=0
- h5py=2.7.0=np112py36_0
- hdf5=1.8.17=2
- html5lib=0.999=py36_0
- icu=56.1=4
- imagesize=0.7.1=py36_0
- ipykernel=4.5.2=py36_0
- ipython=5.3.0=py36_0
- ipython_genutils=0.1.0=py36_0
- ipywidgets=6.0.0=py36_0
- isort=4.2.5=py36_0
- jinja2=2.9.5=py36_0
- jpeg=9b=0
- jsonschema=2.5.1=py36_0
- jupyter_client=5.0.0=py36_0
- jupyter_console=5.1.0=py36_0
- jupyter_core=4.3.0=py36_0
- lazy-object-proxy=1.2.2=py36_0
- libffi=3.2.1=1
- libiconv=1.14=0
- libsodium=1.0.10=0
- libxcb=1.12=1
- libxslt=1.1.29=4
- line_profiler=2.0=py36_0
- matplotlib=2.0.0rc2=np112py36_2
- mccabe=0.6.1=py36_0
- nbconvert=5.1.1=py36_0
- nbformat=4.3.0=py36_0
- ncurses=5.9=10
- notebook=4.4.1=py36_0
- numpydoc=0.6.0=py36_0
- openssl=1.0.2k=0
- pandoc=1.19.2=0
- pandocfilters=1.4.1=py36_0
- pep8=1.7.0=py36_0
- pexpect=4.2.1=py36_0
- pickleshare=0.7.4=py36_0
- psutil=5.1.3=py36_0
- ptyprocess=0.5.1=py36_0
- pyflakes=1.5.0=py36_0
- pygments=2.2.0=py36_0
- pylint=1.6.4=py36_1
- pyqt=4.11.4=py36_2
- pyside=1.2.4=py36_8
- python=3.6.0=0
- python-dateutil=2.6.0=py36_0
- pytz=2016.10=py36_0
- pyzmq=16.0.2=py36_0
- qtawesome=0.4.4=py36_0
- qtconsole=4.3.1=py36_0
- qtpy=1.2.1=py36_0
- requests=2.13.0=py36_0
- snowballstemmer=1.2.1=py36_0
- sphinx=1.5.1=py36_0
- sqlite=3.13.0=0
- terminado=0.6=py36_0
- testpath=0.3=py36_0
- tornado=4.4.2=py36_0
- traitlets=4.3.2=py36_0
- wcwidth=0.1.7=py36_0
- webencodings=0.5=py36_0
- wheel=0.29.0=py36_0
- widgetsnbextension=2.0.0=py36_0
- wrapt=1.10.8=py36_0
- x264=20131217=3
- xorg-libxau=1.0.8=3
- xorg-libxdmcp=1.1.2=3
- zeromq=4.1.5=0
- zlib=1.2.8=3
- alabaster=0.7.10=py36_0
- astroid=1.4.9=py36_0
- glib=2.50.2=1
- jedi=0.9.0=py36_1
- jupyter=1.0.0=py36_3
- libgcc=5.2.0=0
- libgfortran=3.0.0=1
- libpng=1.6.27=0
- libxml2=2.9.4=0
- markupsafe=0.23=py36_2
- memory_profiler=0.43=py36_0
- mistune=0.7.3=py36_0
- mkl=2017.0.1=0
- numpy=1.12.0=py36_0
- path.py=10.1=py36_0
- pcre=8.39=1
- pip=9.0.1=py36_1
- prompt_toolkit=1.0.9=py36_0
- pyparsing=2.1.4=py36_0
- qt=4.8.7=3
- readline=6.2=2
- rope=0.9.4=py36_1
- scipy=0.18.1=np112py36_1
- setuptools=27.2.0=py36_0
- simplegeneric=0.8.1=py36_1
- sip=4.18=py36_0
- six=1.10.0=py36_0
- spyder=3.1.3=py36_0
- tk=8.5.18=0
- xz=5.2.2=1
- pip:
  - hankel==0.3.1
  - ipython-genutils==0.1.0
  - jupyter-client==5.0.0
  - jupyter-console==5.1.0
  - jupyter-core==4.3.0
  - line-profiler==2.0
  - memory-profiler==0.43
  - mpmath==0.19
  - prompt-toolkit==1.0.9
  - rope-py3k==0.9.4.post1
prefix: /home/chris/anaconda3/envs/CU-PWFA

